/*
Przeglądarki internetowe nadają znacznikom HTML wartości początkowe,
które się różnią w zależności od producenta (np. Chrome, Firefox, Opera, Internet Explorer, Microsoft Edge).
Dlatego popularną praktyką jest tworzenie tzw. resetów,
czyli plików CSS zawierających reguły, które nadpisują te wartości,
aby były one jednolite niezalenie od przeglądarki.
Więcej na ten temat: https://cssreset.com/what-is-a-css-reset/
*/
/* !!ogólne !! */
* {
    box-sizing: border-box;
    font-family:  'Open Sans';
}

body {
    margin: 0;
    padding: 0;
    background-image: url(./images/background.svg);
    background-size: cover;
    background-attachment: fixed;
}


h1, h2, h3 {
    margin: 0;
}

h2{
    color: #EC008C;
    font-size: 28px;
    font-weight: bold;
    letter-spacing: 4.5px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* czcionki dla menu */
a{
    letter-spacing: 6.7px;
    font-size: 13px;
    font-weight: bold;
    color: rgba(236, 0, 140, 0.8);
    text-decoration: none;
    text-transform: uppercase;
}

a:focus{
    font-family: "Helevetica";
    color: rgba(236, 0, 140);
}

a:hover{
    letter-spacing: 6.5px;
    font-family: "Helvetica";
    color: rgba(236, 0, 140, 0.9);
}

a:active{
    letter-spacing: 6.5px;
    font-family: "Helvetica";
    color: rgba(236, 0, 140, 0.7);
}

/* czcionki dla buttonów i inputów */

/* default */
.button{
    font-family: "Open Sans Semibold";
    font-size: 12px;
    letter-spacing: 1.6px;
    border: 1px solid rgba(204, 200, 255, 0.0);
    border-radius: 5%;
    background-color: rgba(204, 200, 255, 0.1);
    color: rgba(204, 200, 255, 70%);
    text-transform: uppercase; 
}


.button:hover{
    font-family: "Helvetica";
    background-color: rgba(219, 216, 251, 0.15);
}

.button:active{
    font-family: "Helvetica";
    background-color: rgba(219, 216, 251, 0.1);
}

button:focus{
    background-color: rgba(219, 216, 251, 0.2);
    outline:0;
    border: 1px solid rgba(204, 200, 255, 0.8);
}


.form__input{
    display: block;
    font-family: "Open Sans Semibold";
    font-size: 12px;
    letter-spacing: 1.6px;
    border: 1px solid rgba(204, 200, 255, 0.0);
    border-radius: 5%;
    background-color: rgba(204, 200, 255, 0.1);
    color: rgba(204, 200, 255, 70%);
    width: 70%;
    padding: 2%;
    margin-top: 1%;   
}


/* czcionki dla footera */

.social-links a:active{
    opacity: 0.6;
}

.social-links a:hover{
    opacity: 0.9;
}

.social-links a:disabled{
    opacity: 0.3;
}

.social-links a:focus{
    opacity: 1;
}

/* !!! HEADER !!! */
.page-navigation__item{
    padding: 5px;
   
}

/*
Ustawiając sekcje nagłówka i stopki w pozycji 'fixed' sprawiamy,
że niezależnie od pozycji paska przewijania elementy te będą znajdowały się
w tej samej pozycji względem okna przeglądarki.
Natomiast pozycję tę ustawiamy za pomocą parametrów 'top', 'bottom', 'right', 'left'.
*/
.page-header {
    position: fixed;
    top: 50px;
    left: 50px;
}

/*
Sekcja pomocnicza, aby zwizualizować pozycje głównych bloków strony. Będzie usunięta w następnych krokach.
*/



.page-content {
    margin-left: 220px;
    padding: 0 5%;
    text-align: right;
    
}
.content-section__header{
    margin-bottom: 4%;
}

/* !!! SEKCJE !!! */

/* /* sekcja z głowami  */
#home.content-section, .band-members{
    display: flex;
    justify-content: center;
    align-items: center; 
}

.band-members__name{
    text-align: start;
    color: #CCC8FF;
    opacity: 0.8;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 3.5px;
}

.band-members img{
    border: none;
    margin-bottom: 25px;
}

.band-members li p{
    margin: 5px;
}
.band-members__desc{
    text-align: start;
    color: #CCC8FF;
    opacity: 0.5;
    font-size: 13px;
    letter-spacing: 1.5px;
}


/* about */
.content-section_about-section img{
    border-top: #EC008C solid 3px;
    margin-top: 4%;
}

.about-section__desc{
    position: relative;
    background-color: rgb(37, 7, 46);
    width: 28%;
    height: 100%;
    padding: 30px 40px;
    border-bottom: #EC008C solid 5px;
    bottom: 280px;
    left: 19%;
}

.about-section__desc-details{
    color: #CCC8FF;
    letter-spacing: 3.5px;
    
    font-size: 13px;
}

.about-section__desc h3{
    text-align: start;
    font-size: 15px;
    font-weight: bold;
    color: rgb(219, 216, 251);
    letter-spacing: 3.5px;
    text-transform: uppercase;
}

.about-section__desc p{
    text-align: start;
    font-size: 13px;
    color: rgba(219, 216, 251, 0.7);
    letter-spacing: 1.5px;
}

/* CONCERTS */
.concerts{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5%;
    width: 80%;
    float: right;
    
}

.concerts__image{
    border-bottom: 3px solid #EC008C; 
    width: 100%;
    height: auto;
    margin-bottom: 3%;
}
.concerts__date{
    font-size: 15px;
    font-weight: bold;
    color: rgba(219, 216, 251, 0.8);
    letter-spacing: 3.5px;
    font-family: "Open Sans";
    text-transform: uppercase;
}

.concerts__location{
    font-size: 13px;
    color: rgba(219, 216, 251, 50%);
    letter-spacing: 3px;
    font-family: "Open Sans";
}

 .button{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    height: 50%;   
    margin-left: 50%;
    margin-top: 3%;
}


.concerts__info{
    display: grid;
    line-height: 0.1;
    text-align: left;
    grid-template-rows: 35% 1fr;
}

/* VIDEO */
iframe{
    border-top: 3px solid #EC008C;
    width: 85%;
}
#video{
    margin-top: 15%;
    height: 80%;
}

/* PHOTOS */
.gallery{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 2%;
    width: 80%;
    float: right;
}

.gallery__image{
    width: 100%;
}
.gallery__item img{
    border-top: 3px solid #EC008C;
}

/*!!! INFO !!! */

#contact{
    float: right;
}

.contact-info{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 1fr 1fr;
    font-size: 13px;
    color: rgba(219, 216, 251, 80%);
    letter-spacing: 3px;
    font-family: "Open Sans";
}
.contact-setion img{
    width: 70%;
    height: auto;

}
address{
    display: flex;
    font-style: normal;
    justify-content: center;
    align-items: center;
    text-align: left;
}

.form{
    text-align: left;
}

.form .button{
    margin-left: 0;
    margin-top: 1%;
}
.form__field{
    margin-top: 5%;
}

.form__field button{
    margin-top: 5%;
    margin-left: 0;
    padding: 1%;
    width: 27%;
}

#contact{
    margin-top: 12%;
    margin-left: 20%;
    float: left;
}
.contact-info{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 1fr 1fr;
    font-size: 13px;
    color: rgba(219, 216, 251, 80%);
    letter-spacing: 1.5px;
}


.formfield:first-child{
    margin-top: 6.5%;
}
.formfield{
    line-height: 2.5;
}


/* !!! footer !!! */
.page-footer {
    position: fixed;
    bottom: 50px;
    left: 50px;
}
.social-links a{
    width: 40px; 
    height: 40px;
    display: block;
    margin: 20% auto;
    text-indent: -9999px;
    background-size: 20px 20px;
}

.social-links__item1 a{
    background-image: url("./images/fb.svg");
    background-repeat: no-repeat;
}

.social-links__item2 a{
    background-image: url("./images/insta.svg");
    background-repeat: no-repeat;
}

.social-links__item3 a{
    background-image: url("./images/last.svg");
    background-repeat: no-repeat;
}

.social-links__item4 a{
    background-image: url("./images/yout.svg");
    background-repeat: no-repeat;
}

.social-links__link{
    padding: 5px;
}






/*
ZAGADNIENIE PONADPROGRAMOWE
Rekomendowany zestaw właściwości, które pozwalają na ukrycie tekstu w taki sposób,
że będzie niewidoczny do standardowego użytkownika, a czytniki ekranowe wciąż będą go czytać.
Więcej na ten temat: https://webaim.org/techniques/css/invisiblecontent/
*/

.screen-reader-only {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}


/*
Projekt graficzny zakłada, że każda sekcja strony będzie wypełniać całą wysokość okna przeglądarki
lub więcej, jeśli zawartość danej sekcji jest wyższa. Dlatego świetnym rozwiązaniem
będzie użycie jednostki "vh", która oznacza 1% wysokości okna przeglądarki z właściwością "min-height",
która wymusza wysokość elementu na zadaną wartość lub wyższą.
*/
.content-section {
    min-height: 100vh;
}
